{% extends 'agenda/base.html' %}

{% block conteudo %}
<h1>A história se passa em Limbo City, uma cidade moderna secretamente controlado por demônios, manipulando a humanidade através dos confortos da vida, com os demônios a viverem num plano paralelo - o Limbo. Vivendo à margem da sociedade e fora da lavagem cerebral encontra-se Dante, um jovem em conflito com os demônios que constantemente tentam matá-lo, e as autoridades civis que os controlam. Dante é avisado por uma jovem chamada Kat que ele está em perigo. </h1>
{% endblock conteudo %}